@import "http://meyerweb.com/eric/tools/css/reset/reset.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,800";
@import "mixins";

/*--------------------------- html5  ------------------*/
header, section, footer, aside, nav, article, figure, menu { display: block; }
menu { list-style: none; }

/*--------------------------- Clearfix  ------------------*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

a {
  text-decoration: none;
  &:hover { text-decoration: underline; text-shadow: none; color: $hover; }
}

li, p, a { font-size: 1.6em; color: $text-color;
  li, p, a { font-size: 1em; }
  ul { margin-left: 0.25em; }
}

p { line-height: 1.5em; margin-bottom: 0.94em; }

h1,  h3 { font-family: 'Open Sans', sans-serif; }
h3 { 
  font-size: 3.2em;
  margin-bottom: 0.5em; 
  color: $text-color;
}

time { color: #fab551; font-size: 1.8em; }

section {
  width: 110em;
  padding: 1em;
  margin: 0 auto 5em;
}


body {
  font: { size: 62.5%; family: Arial, Tahoma, san-serif; }
  background: $body-bg;
}

header, #content { @include gradient-two(#333, #111); }
header, footer { padding: 0.5em 2em; }

header {
  margin: 4.4em 0 2em;
  hgroup {
    width: 75%;
    float: left;
    h1 { 
      color: $bum-haus; 
      font: { 
        size: 12.4em; 
        weight: 800; 
      }
      margin-bottom: 0;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    }
    h2 { 
      color: $text-color; 
      font-size: 4.8em; 
      letter-spacing: 2px;
      margin-bottom: 0.15em; 
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    }
  }
  nav ul {
    float: right;
    li {
      margin: 0.5em 0;
      a { font-size: 1.5em; }
    }
  }
}

#content {
  padding: 1em 0;
  article {
    width: 50%;
    float: left;
  }
  iframe { 
    float: right;
    border: 3px solid #fff;
    @include box-shadow(0,0,10px, rgba(206, 206, 206, 0.6));
  }
}

.col-3 {
  float: left;
  width: 28%;
  padding: 1em 2em;
  margin-right: 1.5em;
  h4 {
    font-size: 2.1em;
    color: $text-color;
    margin-bottom: 1em;
  }
  img { 
    width: 100%;
    border: 3px solid #fff;
    @include box-shadow(0,0,10px, rgba(206, 206, 206, 0.6));
  }
  time {
    display: block; 
    margin-bottom: 0.75em;
  }
}

#fb-wall {
  padding: 1em;
  max-height: 30em;
  overflow-y: auto;
  background: #333;
  @include box-shadow(0,0,10px, rgba(206, 206, 206, 0.75));
  p, span { line-height: 1.3em; font-size: 1.1em; }
  a { color: #600; font-size: 10px; }
  .fb-wall-box {
    margin-bottom: 2em;
    &.loading { height:300px;  background: url(images/loader-small.gif) no-repeat center center; }
  }
  img { width: auto; border: none; @include no-box-shadow; }
  .fb-wall-avatar img, .fb-wall-comment-avatar img { @include box-shadow(0,0,7px, rgba(206, 206, 206, 0.6)); }
  .fb-wall-avatar { float: left; border: 0; }
  .fb-wall-data{ margin-left: 6em; }
  .fb-wall-media{ display: block; margin-bottom: 0.5em; }
  .fb-wall-picture{
    margin-right:10px;
    border:0;
    display:block;
    margin:3px;
  }
  .fb-wall-name{
    display:block;
    font-weight:bold;
    color:#3B5998;
  }
  .fb-wall-caption { display: block; color: #3B5998; }
  .fb-wall-description { display: block; color: #777; }
  .fb-wall-icon { float: left; margin-right: 5px; }
  .fb-wall-date {
    font-size: 10px;
    color: #777;
    clear: left;
    display: block;
    margin-bottom: 5px;
  }  
  .fb-wall-message {
    display: block;
    color: #ccc; 
    margin-bottom: 5px;
    .fb-wall-message-from { font: { size: 1em; weight: bold; } color: $bum-haus; } 
  }
  /* Likes*/
  
  .fb-wall-likes {
    border-bottom: 1px solid #888;
    margin: 0 0 2px -30px;
    display: block;
    font-size: 11px;
    background: url(images/like.gif) no-repeat 0 0 #333;
    padding-top: 5px;
  }
  .fb-wall-likes div {
    margin: 0;
    background: url(images/like.gif) no-repeat 0 -5px #EDEFF4;
    padding: 5px 5px 4px 24px;
  }
  .fb-wall-likes div span { color: #600; }

/* Comments */
  .fb-wall-comments { margin: 2px 0 0 -30px; }
  .fb-wall-comment {
    background-color: #666;
    border-bottom: 1px solid #888;
    margin-top: 2px;
    padding: 5px 5px 4px;
    display: block;
    overflow: hidden;
  }
  .fb-wall-comment-message{ display: table; }
  .fb-wall-comment-from-name{ font: { size: 1em; weight: bold; } color: #600; }
  .fb-wall-comment-from-date { color: #777; clear: left; display: block; }
  .fb-wall-comment-avatar{
    @include square(32px);
    float: left;
    margin-right: 5px;
    overflow: hidden;
  }
  .fb-wall-comment-avatar img { @include square(32px); }
  .fb-wall:after, .fb-wall-media:after, .fb-wall-clean{
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    font-size:0;
    line-height:0;
  }
}

#roster {
  menu {
    position: absolute;
    z-index: 100;
    margin: 1em 0 3em;
    li {
      float: left;
      margin: 0 2em 0 0;
      width: 7.5em;
      height: 5em;
      overflow: hidden;
      border: 3px solid #ccc;
      &:hover {
        width: 7.75em;
        height: 5.25em;
        margin-right: 1.75em;
        border-color: #fff;
        @include box-shadow(0,0,10px, rgba(206, 206, 206, 0.6)); 
      }
      a {
        display: block;
        width: inherit;
        height: inherit;
        @include hidden;
        @include bg-size(auto, 100%);        
        background-repeat: no-repeat;
        background-position: center center;
        &[data-roster=fury] { background-image: url(/images/roster/fury-main.jpg); }
        &[data-roster=parker] { background-image: url(/images/roster/parker-main.jpg); }
        &[data-roster=strange] { background-image: url(/images/roster/dr-strange.jpg); }
        &[data-roster=grimm] { background-image: url(/images/roster/the-thing.jpg); }
        &[data-roster=venom] { background-image: url(/images/roster/venom.jpg); }
      }
    }
  }
  
  ul#players {
    margin-top: 11em;
    li {
      img {
        float: left;
        width: 20%;
        margin: 1em 2em 1em 0;
        &.main { width: 50%; }
      }
      p { 
        font-size: 1.31em;
        float: left;
        width: 45%; 
      }
    }
  }
}

#events {
  section {
    h3 { 
      float: left; 
      width: 65%;
      padding-bottom: 0.25em;
      border-bottom: 1px solid #fff;
    }
    ul {
      width: 60%;
      margin-bottom: 3em;
      float: left;
      li {
        font-size: 2.4em;
        margin-bottom: 1.25em;
        clear: both;
        .img-container {
          width: 12.5em;
          height: 8.33em;
          margin: 0 0.94em 0.94em 0;
          float: left;
          overflow: hidden;
          border: 3px solid #ccc;
          img { width: 100%; }
        }
        time { margin-bottom: 1em; }
        address { margin-top: 1em; }
        time, address { 
          font-size: 0.75em; 
          width: 50%; 
          float: left; 
        }
      }
    }
    aside { float: right; width: 30%;
      h3 { width: 100%; }
    }
  }
}

footer {
  p { float: left; width: 50%; }
  ul { 
    float: right;
    width: 25%;
    li {
      margin: 0.5em 1em 0.5em 0;
      width: auto;
      float: left;
      &.title { border-bottom: 1px solid $text-color; float: none; }
      &:nth-last-child(1) { margin-top: 0.2em; }
      a {
        @include hidden;
        @include square(20px);
        background-repeat: no-repeat;
        background-position: center center;
        @include bg-size(100%, auto);
        &.facebook { background-image: url(images/facebook.png); }
        &.twitter { background-image: url(images/twitter.png); }
      }
    } 
  }
  form {
    input {
      font-size: 1.1em;
      background: #333;
      color: #fff;
      float: left;
      &[type=email] { width: 11.5em; margin-right: 0.25em; }
      &[type=submit] { font-size: 0.69em; width: 5em; }
    }
  }
}

form {
  label {
    font-size: 1.6em;
    display: block;
    width: 100%;
    margin: 1em 0; 
    color: #fff;
    input[type=text],
    input[type=email],
    textarea {
      font-size: 1em;
      width: 100%;
      padding: 0.35em;
      margin-top: 0.5em;
    }
    textarea {
      height: 3em;
      @include transition(height, 0.5s, ease-in-out);
      &:focus { height: 6em; }
    }
  }
  input, textarea {
    width: 100%;
    background: $body-bg;
    color: #fff;
    border: 1px solid #666;
    @include border-radius(2px);
    &:focus { background: #5b4242; }
  }
  input[type=submit] { 
    font-size: 1.6em;
    padding: 0.5em;
    cursor: pointer;
    &:hover { background: #5b4242; } 
  }
}

@media(max-width: 1024px) {
  header hgroup {
    h1 { font-size: 9.3em; }
    h2 { font-size: 3.6em; }
  }
  section { width: 98em; }
}


@media(max-width: 760px) {
  section { width: 60em; margin-bottom: 3em; }
  header {
    hgroup h1 { font-size: 7.5em; }
    nav ul li a { font-size: 1.32em; }
  }
  #content {
    article {
      width: inherit;
      float: none;
    }
    iframe { 
      display: block;
      float: none;
      margin: 3em auto; 
    }
  }
  .col-3 {
    float: none;
    width: inherit;
    margin: 2em 0;
    &:nth-child(even) { 
      background: rgba(205,205,205,0.15);
      @include inset-shadow(0, 0, 5px, #111);
      @include border-radius(3px);
    }
    img { width: 60%; }
  }
}

@media screen and (max-width: 600px) {
  section { width: inherit; }
  header {
    padding-bottom: 1.5em;
    hgroup {
      width: inherit;
      float: none;
      h1 { font-size: 6.5em; }
      h2 { font-size: 2.4em; }
    }
    nav ul {
      float: none;
      width: 90%;
      margin: 1em auto;
      li { float: left; margin: 0 0.95em 0 0;
        a { font-size: 1em; } 
      }
    }
  }
  #content iframe { width: inherit; }
  .col-3 img { width: 80%; }
  
  footer {
    p, ul { float: none; width: inherit; }
  }
}