@import "http://meyerweb.com/eric/tools/css/reset/reset.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,800";
/*--------------------------- html5  ------------------*/
header, section, footer, aside, nav, article, figure, menu {
  display: block; }

menu {
  list-style: none; }

/*--------------------------- Clearfix  ------------------*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    text-shadow: none;
    color: red; }

li, p, a {
  font-size: 1.6em;
  color: white; }
  li li, li p, li a, p li, p p, p a, a li, a p, a a {
    font-size: 1em; }
  li ul, p ul, a ul {
    margin-left: 0.25em; }

p {
  line-height: 1.5em;
  margin-bottom: 0.94em; }

h1, h3 {
  font-family: 'Open Sans', sans-serif; }

h3 {
  font-size: 3.2em;
  margin-bottom: 0.5em;
  color: white; }

time {
  color: #fab551;
  font-size: 1.8em; }

section {
  width: 110em;
  padding: 1em;
  margin: 0 auto 5em; }

body {
  font-size: 62.5%;
  font-family: Arial, Tahoma, san-serif;
  background: #5c3317; }

header, #content {
  background: #111111;
  /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #111111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #111111), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, #333333 0%, #111111 100%);
  background: -o-linear-gradient(top, #333333 0%, #111111 100%);
  background: -ms-linear-gradient(top, #333333 0%, #111111 100%);
  background: linear-gradient(top, #333333 0%, #111111 100%); }

header, footer {
  padding: 0.5em 2em; }

header {
  margin: 4.4em 0 2em; }
  header hgroup {
    width: 75%;
    float: left; }
    header hgroup h1 {
      color: red;
      font-size: 12.4em;
      font-weight: 800;
      margin-bottom: 0;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75); }
    header hgroup h2 {
      color: white;
      font-size: 4.8em;
      letter-spacing: 2px;
      margin-bottom: 0.15em;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75); }
  header nav ul {
    float: right; }
    header nav ul li {
      margin: 0.5em 0; }
      header nav ul li a {
        font-size: 1.5em; }

#content {
  padding: 1em 0; }
  #content article {
    width: 50%;
    float: left; }
  #content iframe {
    float: right;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(206, 206, 206, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(206, 206, 206, 0.6);
    -moz-box-shadow: 0 0 10px rgba(206, 206, 206, 0.6); }

.col-3 {
  float: left;
  width: 28%;
  padding: 1em 2em;
  margin-right: 1.5em; }
  .col-3 h4 {
    font-size: 2.1em;
    color: white;
    margin-bottom: 1em; }
  .col-3 img {
    width: 100%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(206, 206, 206, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(206, 206, 206, 0.6);
    -moz-box-shadow: 0 0 10px rgba(206, 206, 206, 0.6); }
  .col-3 time {
    display: block;
    margin-bottom: 0.75em; }

#fb-wall {
  padding: 1em;
  max-height: 30em;
  overflow-y: auto;
  background: #333;
  box-shadow: 0 0 10px rgba(206, 206, 206, 0.75);
  -webkit-box-shadow: 0 0 10px rgba(206, 206, 206, 0.75);
  -moz-box-shadow: 0 0 10px rgba(206, 206, 206, 0.75);
  /* Likes*/
  /* Comments */ }
  #fb-wall p, #fb-wall span {
    line-height: 1.3em;
    font-size: 1.1em; }
  #fb-wall a {
    color: #600;
    font-size: 10px; }
  #fb-wall .fb-wall-box {
    margin-bottom: 2em; }
    #fb-wall .fb-wall-box.loading {
      height: 300px;
      background: url(images/loader-small.gif) no-repeat center center; }
  #fb-wall img {
    width: auto;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
  #fb-wall .fb-wall-avatar img, #fb-wall .fb-wall-comment-avatar img {
    box-shadow: 0 0 7px rgba(206, 206, 206, 0.6);
    -webkit-box-shadow: 0 0 7px rgba(206, 206, 206, 0.6);
    -moz-box-shadow: 0 0 7px rgba(206, 206, 206, 0.6); }
  #fb-wall .fb-wall-avatar {
    float: left;
    border: 0; }
  #fb-wall .fb-wall-data {
    margin-left: 6em; }
  #fb-wall .fb-wall-media {
    display: block;
    margin-bottom: 0.5em; }
  #fb-wall .fb-wall-picture {
    margin-right: 10px;
    border: 0;
    display: block;
    margin: 3px; }
  #fb-wall .fb-wall-name {
    display: block;
    font-weight: bold;
    color: #3B5998; }
  #fb-wall .fb-wall-caption {
    display: block;
    color: #3B5998; }
  #fb-wall .fb-wall-description {
    display: block;
    color: #777; }
  #fb-wall .fb-wall-icon {
    float: left;
    margin-right: 5px; }
  #fb-wall .fb-wall-date {
    font-size: 10px;
    color: #777;
    clear: left;
    display: block;
    margin-bottom: 5px; }
  #fb-wall .fb-wall-message {
    display: block;
    color: #ccc;
    margin-bottom: 5px; }
    #fb-wall .fb-wall-message .fb-wall-message-from {
      font-size: 1em;
      font-weight: bold;
      color: red; }
  #fb-wall .fb-wall-likes {
    border-bottom: 1px solid #888;
    margin: 0 0 2px -30px;
    display: block;
    font-size: 11px;
    background: url(images/like.gif) no-repeat 0 0 #333333;
    padding-top: 5px; }
  #fb-wall .fb-wall-likes div {
    margin: 0;
    background: url(images/like.gif) no-repeat 0 -5px #edeff4;
    padding: 5px 5px 4px 24px; }
  #fb-wall .fb-wall-likes div span {
    color: #600; }
  #fb-wall .fb-wall-comments {
    margin: 2px 0 0 -30px; }
  #fb-wall .fb-wall-comment {
    background-color: #666;
    border-bottom: 1px solid #888;
    margin-top: 2px;
    padding: 5px 5px 4px;
    display: block;
    overflow: hidden; }
  #fb-wall .fb-wall-comment-message {
    display: table; }
  #fb-wall .fb-wall-comment-from-name {
    font-size: 1em;
    font-weight: bold;
    color: #600; }
  #fb-wall .fb-wall-comment-from-date {
    color: #777;
    clear: left;
    display: block; }
  #fb-wall .fb-wall-comment-avatar {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
    overflow: hidden; }
  #fb-wall .fb-wall-comment-avatar img {
    display: block;
    width: 32px;
    height: 32px; }
  #fb-wall .fb-wall:after, #fb-wall .fb-wall-media:after, #fb-wall .fb-wall-clean {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0; }

#roster menu {
  position: absolute;
  z-index: 100;
  margin: 1em 0 3em; }
  #roster menu li {
    float: left;
    margin: 0 2em 0 0;
    width: 7.5em;
    height: 5em;
    overflow: hidden;
    border: 3px solid #ccc; }
    #roster menu li:hover {
      width: 7.75em;
      height: 5.25em;
      margin-right: 1.75em;
      border-color: #fff;
      box-shadow: 0 0 10px rgba(206, 206, 206, 0.6);
      -webkit-box-shadow: 0 0 10px rgba(206, 206, 206, 0.6);
      -moz-box-shadow: 0 0 10px rgba(206, 206, 206, 0.6); }
    #roster menu li a {
      display: block;
      width: inherit;
      height: inherit;
      text-indent: -9999px;
      overflow: hidden;
      background-size: auto 100%;
      -moz-background-size: auto 100%;
      -webkit-background-size: auto 100%;
      -o-background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center center; }
      #roster menu li a[data-roster=fury] {
        background-image: url(/images/roster/fury-main.jpg); }
      #roster menu li a[data-roster=parker] {
        background-image: url(/images/roster/parker-main.jpg); }
      #roster menu li a[data-roster=strange] {
        background-image: url(/images/roster/dr-strange.jpg); }
      #roster menu li a[data-roster=grimm] {
        background-image: url(/images/roster/the-thing.jpg); }
      #roster menu li a[data-roster=venom] {
        background-image: url(/images/roster/venom.jpg); }
#roster ul#players {
  margin-top: 11em; }
  #roster ul#players li img {
    float: left;
    width: 20%;
    margin: 1em 2em 1em 0; }
    #roster ul#players li img.main {
      width: 50%; }
  #roster ul#players li p {
    font-size: 1.31em;
    float: left;
    width: 45%; }

#events section h3 {
  float: left;
  width: 65%;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #fff; }
#events section ul {
  width: 60%;
  margin-bottom: 3em;
  float: left; }
  #events section ul li {
    font-size: 2.4em;
    margin-bottom: 1.25em;
    clear: both; }
    #events section ul li .img-container {
      width: 12.5em;
      height: 8.33em;
      margin: 0 0.94em 0.94em 0;
      float: left;
      overflow: hidden;
      border: 3px solid #ccc; }
      #events section ul li .img-container img {
        width: 100%; }
    #events section ul li time {
      margin-bottom: 1em; }
    #events section ul li address {
      margin-top: 1em; }
    #events section ul li time, #events section ul li address {
      font-size: 0.75em;
      width: 50%;
      float: left; }
#events section aside {
  float: right;
  width: 30%; }
  #events section aside h3 {
    width: 100%; }

footer p {
  float: left;
  width: 50%; }
footer ul {
  float: right;
  width: 25%; }
  footer ul li {
    margin: 0.5em 1em 0.5em 0;
    width: auto;
    float: left; }
    footer ul li.title {
      border-bottom: 1px solid white;
      float: none; }
    footer ul li:nth-last-child(1) {
      margin-top: 0.2em; }
    footer ul li a {
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% auto;
      -moz-background-size: 100% auto;
      -webkit-background-size: 100% auto;
      -o-background-size: 100% auto; }
      footer ul li a.facebook {
        background-image: url(images/facebook.png); }
      footer ul li a.twitter {
        background-image: url(images/twitter.png); }
footer form input {
  font-size: 1.1em;
  background: #333;
  color: #fff;
  float: left; }
  footer form input[type=email] {
    width: 11.5em;
    margin-right: 0.25em; }
  footer form input[type=submit] {
    font-size: 0.69em;
    width: 5em; }

form label {
  font-size: 1.6em;
  display: block;
  width: 100%;
  margin: 1em 0;
  color: #fff; }
  form label input[type=text],
  form label input[type=email],
  form label textarea {
    font-size: 1em;
    width: 100%;
    padding: 0.35em;
    margin-top: 0.5em; }
  form label textarea {
    height: 3em;
    transition: height 0.5s ease-in-out 0;
    -moz-transition: height 0.5s ease-in-out 0;
    -webkit-transition: height 0.5s ease-in-out 0;
    -o-transition: height 0.5s ease-in-out 0; }
    form label textarea:focus {
      height: 6em; }
form input, form textarea {
  width: 100%;
  background: #5c3317;
  color: #fff;
  border: 1px solid #666;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }
  form input:focus, form textarea:focus {
    background: #5b4242; }
form input[type=submit] {
  font-size: 1.6em;
  padding: 0.5em;
  cursor: pointer; }
  form input[type=submit]:hover {
    background: #5b4242; }

@media (max-width: 1024px) {
  header hgroup h1 {
    font-size: 9.3em; }
  header hgroup h2 {
    font-size: 3.6em; }

  section {
    width: 98em; } }
@media (max-width: 760px) {
  section {
    width: 60em;
    margin-bottom: 3em; }

  header hgroup h1 {
    font-size: 7.5em; }
  header nav ul li a {
    font-size: 1.32em; }

  #content article {
    width: inherit;
    float: none; }
  #content iframe {
    display: block;
    float: none;
    margin: 3em auto; }

  .col-3 {
    float: none;
    width: inherit;
    margin: 2em 0; }
    .col-3:nth-child(even) {
      background: rgba(205, 205, 205, 0.15);
      box-shadow: inset 0 0 5px #111111;
      -webkit-box-shadow: inset 0 0 5px #111111;
      -moz-box-shadow: inset 0 0 5px #111111;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    .col-3 img {
      width: 60%; } }
@media screen and (max-width: 600px) {
  section {
    width: inherit; }

  header {
    padding-bottom: 1.5em; }
    header hgroup {
      width: inherit;
      float: none; }
      header hgroup h1 {
        font-size: 6.5em; }
      header hgroup h2 {
        font-size: 2.4em; }
    header nav ul {
      float: none;
      width: 90%;
      margin: 1em auto; }
      header nav ul li {
        float: left;
        margin: 0 0.95em 0 0; }
        header nav ul li a {
          font-size: 1em; }

  #content iframe {
    width: inherit; }

  .col-3 img {
    width: 80%; }

  footer p, footer ul {
    float: none;
    width: inherit; } }
